<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information Questionnaire</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <h1>User Information Questionnaire</h1>
    <form action="/form" method="POST">
        <label for="fname">First Name: </label>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last Name: </label>
        <input type="text" id="lname" name="lname"><br>
        <label for="email">Email: </label>
        <input type="text" id="email" name="email"><br>
        <label for="pnumber">Phone Number: </label>
        <input type="text" name="pnumber" id="pnumber"><br>
        <label for="eircode">Eircode: </label>
        <input type="text" name="eircode" id="eircode"><br>
        <button id="submit">Submit</button>
    </form>
</body>
</html>
